.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/slamet1.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    letter-spacing: 5px;
    margin: 276px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    width: 826px;
    margin: 35px auto 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-1 .u-btn-2 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-1 .u-btn-3 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-1 .u-btn-4 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-1 .u-btn-5 {
    background-image: none;
    border-style: solid;
    font-size: 1.5rem;
    animation-duration: 1000ms;
    font-weight: 700;
    margin: 55px auto 60px;
    padding: 14px 40px 15px 39px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 660px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 506px;
    }
  
    .u-section-1 .u-text-2 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 380px;
    }
  
    .u-section-1 .u-text-2 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 239px;
    }
  
    .u-section-1 .u-text-2 {
      width: 340px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 88px;
  } .u-section-3 {
    background-image: none;
    min-height: 626px;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    pointer-events: auto;
    margin-top: 0;
    margin-bottom: 8px;
    transition-duration: 1s;
  }
  
  .u-section-3 .u-layout-cell-1 {
    min-height: 628px;
    pointer-events: auto;
    background-image: none;
  }
  
  .u-section-3 .u-container-layout-1 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    padding: 30px 0;
  }
  
  .u-section-3 .u-text-1 {
    font-weight: 700;
    font-style: italic;
    animation-duration: 2000ms;
    margin: 23px 219px 0 77px;
  }
  
  .u-section-3 .u-text-2 {
    line-height: 2;
    animation-duration: 2000ms;
    margin: 77px 15px 0 77px;
  }
  
  .u-section-3 .u-image-1 {
    min-height: 628px;
    pointer-events: auto;
    background-image: url("images/slamet2.jpg");
    background-position: 50% 50%;
    animation-duration: 2000ms;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 30px 60px;
  }
  
  @media (max-width: 1199px) {
     .u-section-3 {
      min-height: 446px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 518px;
    }
  
    .u-section-3 .u-text-1 {
      margin-left: 27px;
      margin-right: 169px;
    }
  
    .u-section-3 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-3 .u-image-1 {
      min-height: 518px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-3 {
      min-height: 339px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-3 .u-text-1 {
      margin-left: 0;
      margin-right: 86px;
    }
  
    .u-section-3 .u-image-1 {
      min-height: 397px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-3 {
      min-height: 614px;
    }
  
    .u-section-3 .u-image-1 {
      min-height: 596px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-3 {
      min-height: 420px;
    }
  
    .u-section-3 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-3 .u-image-1 {
      min-height: 375px;
    }
  }
  
  .u-section-3 .u-layout-wrap-1 {
    transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
  }.u-section-4 .u-sheet-1 {
    min-height: 88px;
  } .u-section-5 {
    min-height: 534px;
  }
  
  .u-section-5 .u-image-1 {
    width: 650px;
    left: 0;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    animation-duration: 1000ms;
    right: auto;
  }
  
  .u-section-5 .u-text-1 {
    font-weight: 700;
    font-style: italic;
    animation-duration: 1000ms;
    margin: 25px calc(((100% - 1140px) / 2) + 187px) 0 calc(((100% - 1140px) / 2) + 613px);
  }
  
  .u-section-5 .u-text-2 {
    animation-duration: 1000ms;
    margin: 51px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 613px);
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-image-1 {
      height: 534px;
      left: auto;
      bottom: auto;
      right: auto;
      top: auto;
    }
  
    .u-section-5 .u-text-1 {
      margin-right: calc(((100% - 940px) / 2) + 87px);
      margin-left: calc(((100% - 940px) / 2) + 513px);
    }
  
    .u-section-5 .u-text-2 {
      margin-right: calc(((100% - 940px) / 2));
      margin-left: calc(((100% - 940px) / 2) + 413px);
    }
  }
  
  @media (max-width: 991px) {
     .u-section-5 {
      min-height: 828px;
    }
  
    .u-section-5 .u-text-1 {
      margin-right: calc(((100% - 720px) / 2));
      margin-left: calc(((100% - 720px) / 2) + 380px);
    }
  
    .u-section-5 .u-text-2 {
      margin-right: calc(((100% - 720px) / 2));
      margin-left: calc(((100% - 720px) / 2) + 193px);
    }
  }
  
  @media (max-width: 767px) {
     .u-section-5 {
      min-height: 738px;
    }
  
    .u-section-5 .u-image-1 {
      height: 444px;
    }
  
    .u-section-5 .u-text-1 {
      margin-right: calc(((100% - 540px) / 2));
      margin-left: calc(((100% - 540px) / 2) + 200px);
    }
  
    .u-section-5 .u-text-2 {
      margin-right: calc(((100% - 540px) / 2));
      margin-left: calc(((100% - 540px) / 2) + 13px);
    }
  }
  
  @media (max-width: 575px) {
     .u-section-5 {
      min-height: 534px;
    }
  
    .u-section-5 .u-image-1 {
      height: 280px;
      margin-top: 0;
    }
  
    .u-section-5 .u-text-1 {
      margin-right: calc(((100% - 340px) / 2));
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-5 .u-text-2 {
      margin-left: calc(((100% - 340px) / 2));
      margin-right: calc(((100% - 340px) / 2));
      margin-bottom: 60px;
    }
  }.u-section-6 .u-sheet-1 {
    min-height: 88px;
  }.u-section-7 .u-sheet-1 {
    min-height: 1134px;
  }
  
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 5px;
    animation-duration: 1000ms;
    margin: 60px auto 0;
  }
  
  .u-section-7 .u-text-2 {
    width: 681px;
    animation-duration: 1000ms;
    margin: 20px auto 0;
  }
  
  .u-section-7 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 21px;
  }
  
  .u-section-7 .u-layout-cell-1 {
    min-height: 402px;
  }
  
  .u-section-7 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-7 .u-text-3 {
    animation-duration: 1000ms;
    margin: 30px 124px 0 30px;
  }
  
  .u-section-7 .u-text-4 {
    animation-duration: 1000ms;
    margin: 19px 30px 0;
  }
  
  .u-section-7 .u-layout-cell-2 {
    min-height: 274px;
  }
  
  .u-section-7 .u-container-layout-2 {
    padding: 0 22px;
  }
  
  .u-section-7 .u-text-5 {
    animation-duration: 1000ms;
    margin: 19px 102px 0 8px;
  }
  
  .u-section-7 .u-text-6 {
    font-size: 1rem;
    animation-duration: 1000ms;
    margin: 20px 8px 0;
  }
  
  .u-section-7 .u-layout-cell-3 {
    min-height: 266px;
  }
  
  .u-section-7 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-7 .u-text-7 {
    animation-duration: 1000ms;
    margin: 0 auto 0 0;
  }
  
  .u-section-7 .u-text-8 {
    animation-duration: 3000ms;
    margin: 20px 0 0;
  }
  
  .u-section-7 .u-image-1 {
    min-height: 940px;
    background-image: url("images/slamet3.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-7 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-7 .u-layout-cell-5 {
    min-height: 314px;
  }
  
  .u-section-7 .u-container-layout-5 {
    padding: 30px;
  }
  
  .u-section-7 .u-text-9 {
    animation-duration: 1000ms;
    margin: 0 auto 0 0;
  }
  
  .u-section-7 .u-text-10 {
    animation-duration: 1000ms;
    margin: 20px 0 0;
  }
  
  .u-section-7 .u-layout-cell-6 {
    min-height: 315px;
  }
  
  .u-section-7 .u-container-layout-6 {
    padding: 30px;
  }
  
  .u-section-7 .u-text-11 {
    animation-duration: 1000ms;
    margin: 0 auto 0 0;
  }
  
  .u-section-7 .u-text-12 {
    animation-duration: 2000ms;
    margin: 20px 0 0;
  }
  
  .u-section-7 .u-layout-cell-7 {
    min-height: 311px;
  }
  
  .u-section-7 .u-container-layout-7 {
    padding: 30px;
  }
  
  @media (max-width: 1199px) {
    .u-section-7 .u-sheet-1 {
      min-height: 736px;
    }
  
    .u-section-7 .u-layout-cell-1 {
      min-height: 331px;
    }
  
    .u-section-7 .u-text-3 {
      margin-right: 88px;
      margin-left: 0;
    }
  
    .u-section-7 .u-text-4 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-7 .u-layout-cell-2 {
      min-height: 226px;
    }
  
    .u-section-7 .u-text-5 {
      margin-right: 44px;
      margin-left: 0;
    }
  
    .u-section-7 .u-text-6 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-7 .u-layout-cell-3 {
      min-height: 219px;
    }
  
    .u-section-7 .u-image-1 {
      min-height: 775px;
    }
  
    .u-section-7 .u-layout-cell-5 {
      min-height: 259px;
    }
  
    .u-section-7 .u-layout-cell-6 {
      min-height: 260px;
    }
  
    .u-section-7 .u-layout-cell-7 {
      min-height: 257px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-7 .u-sheet-1 {
      min-height: 1110px;
    }
  
    .u-section-7 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-7 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-7 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-7 .u-image-1 {
      min-height: 890px;
    }
  
    .u-section-7 .u-layout-cell-5 {
      min-height: 100px;
    }
  
    .u-section-7 .u-layout-cell-6 {
      min-height: 100px;
    }
  
    .u-section-7 .u-layout-cell-7 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-7 .u-sheet-1 {
      min-height: 2177px;
    }
  
    .u-section-7 .u-text-1 {
      margin-left: 0;
    }
  
    .u-section-7 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
      width: 540px;
    }
  
    .u-section-7 .u-container-layout-2 {
      padding-right: 10px;
      padding-left: 0;
    }
  
    .u-section-7 .u-container-layout-3 {
      padding-right: 10px;
      padding-left: 0;
    }
  
    .u-section-7 .u-image-1 {
      min-height: 1335px;
    }
  
    .u-section-7 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-7 .u-container-layout-5 {
      padding-right: 10px;
      padding-left: 0;
    }
  
    .u-section-7 .u-container-layout-6 {
      padding-right: 10px;
      padding-left: 0;
    }
  
    .u-section-7 .u-container-layout-7 {
      padding-right: 10px;
      padding-left: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-7 .u-sheet-1 {
      min-height: 1956px;
    }
  
    .u-section-7 .u-text-1 {
      font-size: 1.875rem;
    }
  
    .u-section-7 .u-text-2 {
      width: 340px;
    }
  
    .u-section-7 .u-text-3 {
      margin-right: 0;
    }
  
    .u-section-7 .u-text-5 {
      margin-right: 0;
    }
  
    .u-section-7 .u-image-1 {
      min-height: 841px;
    }
  }.u-section-8 .u-sheet-1 {
    min-height: 88px;
  } .u-section-9 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/slamet3.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-9 .u-sheet-1 {
    min-height: 854px;
  }
  
  .u-section-9 .u-text-1 {
    font-weight: 700;
    font-size: 2.25rem;
    margin: 57px auto 0;
  }
  
  .u-section-9 .u-shape-1 {
    width: 601px;
    height: 601px;
    box-shadow: 2px 2px 10px 0 rgba(128,128,128,1);
    text-shadow: 2px 0 10px rgba(0,0,0,0);
    animation-duration: 1000ms;
    margin: 57px auto 0;
  }
  
  .u-section-9 .u-text-2 {
    font-size: 1.875rem;
    text-decoration: underline !important;
    animation-duration: 1000ms;
    margin: -572px 570px 0 303px;
  }
  
  .u-section-9 .u-form-1 {
    height: 450px;
    width: 570px;
    margin: 39px auto 60px;
  }
  
  .u-section-9 .u-form-group-2 {
    margin-left: 0;
  }
  
  .u-section-9 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-9 .u-form-group-4 {
    margin-left: 0;
  }
  
  .u-section-9 .u-form-group-5 {
    margin-left: 0;
  }
  
  .u-section-9 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    background-image: none;
  }
  
  @media (max-width: 1199px) {
    .u-section-9 .u-sheet-1 {
      min-height: 704px;
    }
  
    .u-section-9 .u-shape-1 {
      height: 602px;
    }
  
    .u-section-9 .u-text-2 {
      margin-top: -573px;
      margin-right: 470px;
      margin-left: 203px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-9 .u-sheet-1 {
      min-height: 539px;
    }
  
    .u-section-9 .u-text-2 {
      margin-right: 360px;
      margin-left: 93px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-9 .u-sheet-1 {
      min-height: 778px;
    }
  
    .u-section-9 .u-shape-1 {
      height: 584px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-9 .u-text-2 {
      margin-top: -555px;
      margin-right: 270px;
      margin-left: 3px;
    }
  
    .u-section-9 .u-form-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-9 .u-sheet-1 {
      min-height: 779px;
    }
  
    .u-section-9 .u-text-2 {
      margin-right: 73px;
      margin-left: 0;
    }
  
    .u-section-9 .u-form-1 {
      width: 340px;
    }
  }